---
layout: default
---

<div class="posts">
  {% assign lists = "Machine Learning Blogs,General,System Blogs" | split: "," %}
  {% for list in lists %}
    <h1 style="text-transform: uppercase;">{{ list }}</h1>
    {% for post in site.posts %}
      {% if post.listing == list %}
        <article class="post">

          <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

          <div class="entry">
            {{ post.excerpt }}
          </div>

          <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
        </article>
        {% endif %}
    {% endfor %}
  {% endfor %}
</div>